<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavettePhoenix">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.phoenix.navette.PrivacyActivity"
            android:exported="false"
            android:label="@string/cta_privacy"
            android:parentActivityName="com.phoenix.navette.MainActivity" />
        <activity
            android:name="com.phoenix.navette.ContactActivity"
            android:exported="false"
            android:label="@string/title_contact"
            android:parentActivityName="com.phoenix.navette.MainActivity" />
        <activity
            android:name="com.phoenix.navette.InfoClairActivity"
            android:exported="false"
            android:label="@string/title_infos"
            android:parentActivityName="com.phoenix.navette.MainActivity" />
        <activity
            android:name="com.phoenix.navette.DevisActivity"
            android:exported="false"
            android:label="@string/title_devis"
            android:parentActivityName="com.phoenix.navette.MainActivity" />
        <activity
            android:name="com.phoenix.navette.ReservationActivity"
            android:exported="false"
            android:label="@string/title_tad_reservation"
            android:parentActivityName="com.phoenix.navette.MainActivity" />
        <activity
            android:name="com.phoenix.navette.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
